# CMake build directory
build/
out/

# IDE settings
.vscode/settings.json
.idea
.vs

# clangd cache
.cache/

# vcpkg installed
vcpkg_installed/

# cache dir
cache

# log file
log/
*.log

# executable
*.exe

# compile product
*.o
*.obj

# static lib
*.lib
*.a

# shared lib
*.dll
*.so
